

li {
    list-style: none;
    padding: 10px;
    text-align: center;
   
  }
  .MovieCard img {
    height: 250px;
    margin: 5px;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 10px;
    
  }

  

 .MovieList {
    display: flex;
    flex-direction: row;
    overflow: scroll;
 }

  h3 { 
   display: block;
   text-align: center;
}